<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>电子联盟后台管理系统</title>
    <link href="~/img/unionlogo.jpg" rel="shortcut icon" type="image/x-icon" />
    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/toast/animate.css" rel="stylesheet" />
    <link href="~/css/plugins/toast/toast.css" rel="stylesheet" />
    <link href="@Url.Content("~/css/plugins/iCheck/custom.css")" rel="stylesheet" />
    <link href="~/css/style.min.css?v=4.1.0" rel="stylesheet" />
    <link href="~/css/plugins/jqgrid/ui.jqgrid.css?0820" rel="stylesheet" />
    <style>
        .middle-style {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: 1000;
        }

            .middle-style .sk-spinner {
                position: absolute;
                left: 50%;
                top: 50%;
            }
    </style>

</head>

<body class="gray-bg">
    <div class="spiner-example middle-style" style="opacity: 0.8; z-index: 1000;">
        <div class="sk-spinner sk-spinner-wave">
            <div class="sk-rect1"></div>
            <div class="sk-rect2"></div>
            <div class="sk-rect3"></div>
            <div class="sk-rect4"></div>
            <div class="sk-rect5"></div>
        </div>
    </div>
    <div class="wrapper wrapper-content toastdiv">
        <div class="row">
            @*左侧视图*@
            <div class="col-sm-3">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content" style="background-color:white">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail">订单操作</a>
                            <div class="space-25"></div>
                            <h5>订单状态</h5>
                            <ul class="category-list" style="padding: 0">
                                <li>
                                    <a href="mail_compose.html#">
                                        <i class="fa fa-circle text-muted"></i> 审核中
                                        <span class="label label-default pull-right task-unconfirmed">16</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mail_compose.html#">
                                        <i class="fa fa-circle text-danger"></i>审核失败
                                        <span class="label label-danger pull-right task-bidin">16</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mail_compose.html#">
                                        <i class="fa fa-circle text-navy"></i>已租到
                                        <span class="label label-primary pull-right task-bided">16</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="mail_compose.html#">
                                        <i class="fa fa-circle text-info"></i> 已归还
                                        <span class="label label-warning pull-right task-deposit">16</span>
                                    </a>
                                </li>
                           

                            </ul>


                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            @*左侧视图*@

            @*右侧视图*@
            <div class="col-sm-9 animated fadeInRight">



                @*详细任务信息*@

                <div class="wrapper wrapper-content  instrumentofpcbinfo mail-box" style="display:none">

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-title">
                                    <h5>
                                        当前订单详细信息
                                    </h5>
                                    <div class="ibox-tools">
                                        <a class="collapse-link">
                                            <i class="fa fa-chevron-up"></i>
                                        </a>

                                    </div>
                                </div>
                                <div class="ibox-content">
                                    <form method="get" class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">订单编号</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_num" name="detailorder_num">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">设备编号</label>

                                            <div class="col-sm-6">
                                                <input type="text" disabled class="form-control " id="detailorder_instrumentid" name="detailorder_instrumentid">
                                            </div>
                                            <div class="col-sm-4">
                                                  <button type="button" class="btn btn-sm btn-primary getinstrumentinfo"> 获取设备信息</button>    
                                            </div>
                                        </div>
                                     
                                        <div class="modal inmodal" id="instrumentInfo" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                                                        </button>
                                                        @*<i class="fa fa-laptop modal-icon"></i>*@
                                                        <h4 class="modal-title">设备信息</h4>
                                                        @*<small class="font-bold">这里可以显示副标题。*@
                                                    </div>
                                                    <div class="modal-body">

                                                   
                                                     
                                                            <div class="form-group">
                                                                <label class="control-label">设备编号</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_instrumentid1" name="detailorder_instrumentid1">
                                                                
                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">设备名称</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_instrumentname" name="detailorder_instrumentname">
                                                              

                                                            </div>
                                                            <div class="form-group">


                                                                <label class=" control-label">设备图片</label>

                                                             
                                                                    <div class="dropdown profile-element">
                                                                        <span>
                                                                            <img style="height:200px;width:242px" alt="image" class="" src="~/img/id-card.png" data-original="" id="detailinfo_instrumentimage" name="detailinfo_instrumentimage">

                                                                        </span>


                                                                    </div>

                                                              
                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">设备类型</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_instrumenttype" name="detailorder_instrumenttype">
                                                               

                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">设备品牌</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_instrumentbrands" name="detailorder_instrumentbrands">
                                                             

                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">设备型号</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_instrumentmodel" name="detailorder_instrumentmodel">
                                                              

                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">技术参数</label>

                                                               
                                                                    <textarea type="text" disabled class="form-control " id="detailorder_capability" name="detailorder_capability"></textarea>
                                                              
                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">出厂日期</label>

                                                               
                                                                    <input type="text" disabled class="form-control " id="detailorder_isdate" name="detailorder_isdate">
                                                              

                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">出产地</label>

                                                                
                                                                    <input type="text" disabled class="form-control " id="detailorder_attribution" name="detailorder_attribution">
                                                              

                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">归属单位</label>

                                                                
                                                                    <input type="text" disabled class="form-control " id="detailorder_company" name="detailorder_company">
                                                               

                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">设备所在地区</label>

                                                            
                                                                    <input type="text" disabled class="form-control " id="detailorder_location" name="detailorder_location">
                                                               

                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">共享方式</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_instrumentway" name="detailorder_instrumentway">
                                                            
                                                                <label class=" control-label">共享时间</label>

                                                               
                                                                    <input type="text" disabled class="form-control " id="detailorder_usetime" name="detailorder_usetime">
                                                                
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="control-label">添加用户</label>

                                                                
                                                                    <input type="text" disabled class="form-control " id="detailorder_placeorderuser" name="detailorder_placeorderuser">

                                                            </div>
                                                            <div class="form-group">

                                                                <label class=" control-label">押金</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_deposite" name="detailorder_deposite">
                                                                
                                                                <label class=" control-label">租金</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_rentfee" name="detailorder_rentfee">
                                                              
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">使用起始时间</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_usestarttime" name="detailorder_usestarttime">
                                                               
                                                                <label class=" control-label">使用截止时间</label>

                                                               
                                                                    <input type="text" disabled class="form-control " id="detailorder_useendtime" name="detailorder_useendtime">
                                                              
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">添加时间</label>

                                                                
                                                                    <input type="text" disabled class="form-control " id="detailorder_addtime" name="detailorder_addtime">
                                                                
                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">是否在所在地</label>

                                                             
                                                                    <input type="text" disabled class="form-control " id="detailorder_localornot" name="detailorder_localornot">
                                                                
                                                                <label class=" control-label">所在地费用</label>

                                                               
                                                                    <input type="text" disabled class="form-control " id="detailorder_localfee" name="detailorder_localfee">
                                                                
                                                            </div>

                                                            <div class="form-group">
                                                                <label class=" control-label">是否外借</label>

                                                              
                                                                    <input type="text" disabled class="form-control " id="detailorder_borrowornot" name="detailorder_borrowornot">
                                                               
                                                                <label class=" control-label">外借押金</label>

                                                               
                                                                    <input type="text" disabled class="form-control " id="detailorder_borrowdeposit" name="detailorder_borrowdeposit">
                                                                
                                                                <label class=" control-label">外借租金</label>
                                                               
                                                                    <input type="text" disabled class="form-control " id="detailorder_rentfee" name="detailorder_rentfee">
                                                               
                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">是否转让</label>

                                                             
                                                                    <input type="text" disabled class="form-control " id="detailorder_turnornot" name="detailorder_turnornot">
                                                               
                                                                <label class=" control-label">转让费用</label>

                                                                
                                                                    <input type="text" disabled class="form-control " id="detailorder_turnfee" name="detailorder_turnfee">
                                                               
                                                            </div>


                                                            <div class="form-group">
                                                                <label class=" control-label">审核状态</label>

                                                               
                                                                    <input type="text" disabled class="form-control " id="detailorder_checkstatus" name="detailorder_checkstatus">
                                                             
                                                            </div>
                                                            <div class="form-group">
                                                                <label class=" control-label">租借状态</label>

                                                             
                                                                    <input type="text" disabled class="form-control " id="detailorder_borrowstatus" name="detailorder_borrowstatus">
                                                             
                                                            </div>
  

                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                                     
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">下单会员</label>

                                            <div class="col-sm-6">
                                                <input type="text" disabled class="form-control " id="detailorder_placeorderuser" name="detailorder_placeorderuser">
                                            </div>
                                            <div class="col-sm-4">
                                                <button type="button" class="btn btn-sm btn-primary getuserinfo"> 获取会员信息</button>
                                            </div>
                                        </div>
                                        <div class="modal inmodal" id="userinfo" tabindex="-1" role="dialog" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content animated bounceInRight">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal">
                                                            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                                                        </button>
                                                        @*<i class="fa fa-laptop modal-icon"></i>*@
                                                        <h4 class="modal-title">会员信息</h4>
                                                        @*<small class="font-bold">这里可以显示副标题。*@
                                                    </div>
                                                    <div class="modal-body">



                                                        <div class="form-group">
                                                            <label class="control-label">会员编号</label>


                                                            <input type="text" disabled class="form-control " id="detailorder_memberid" name="detailorder_memberid">

                                                        </div>
                                                        <div class="form-group">
                                                            <label class=" control-label">会员手机号</label>


                                                            <input type="text" disabled class="form-control " id="detailorder_phone" name="detailorder_phone">


                                                        </div>
                                                        <div class="form-group">
                                                            <label class=" control-label">会员类型</label>


                                                            <input type="text" disabled class="form-control " id="detailorder_membertype" name="detailorder_membertype">


                                                        </div>
                                                    
                                                        <div class="form-group personinfo">
                                                            <label class="control-label">会员昵称</label>


                                                            <input type="text" disabled class="form-control " id="detailorder_nickname" name="detailorder_nickname">
                                                            <label class="control-label">会员姓名</label>


                                                            <input type="text" disabled class="form-control " id="detailorder_name" name="detailorder_name">

                                                        </div>
                                                    
                                                        <div class="form-group enterinfo">
                                                            <label class="control-label">会员昵称</label>


                                                            <input type="text" disabled class="form-control " id="detailorder_enterpersonnickname" name="detailorder_enterpersonnickname">
                                                            <label class="control-label">会员姓名</label>


                                                            <input type="text" disabled class="form-control " id="detailorder_enterpersonname" name="detailorder_enterpersonname">
                                                            <label class="control-label">公司名称</label>


                                                            <input type="text" disabled class="form-control " id="detailorder_entername" name="detailorder_entername">

                                                        </div>
                                                       
                                                      
                                                     


                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">共享方式</label>

                                            <div class="col-sm-2">
                                                <input type="text" disabled class="form-control " id="detailorder_instrumentway" name="detailorder_instrumentway">
                                            </div>
                                            <label class="col-sm-2 control-label">押金</label>

                                            <div class="col-sm-2">
                                                <input type="text" disabled class="form-control " id="detailorder_deposite" name="detailorder_deposite">
                                            </div>
                                            <label class="col-sm-2 control-label">租金</label>

                                            <div class="col-sm-2">
                                                <input type="text" disabled class="form-control " id="detailorder_rentfee" name="detailorder_rentfee">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">使用起始时间</label>

                                            <div class="col-sm-4">
                                                <input type="text" disabled class="form-control " id="detailorder_usestarttime" name="detailorder_usestarttime">
                                            </div>
                                            <label class="col-sm-2 control-label">使用截止时间</label>

                                            <div class="col-sm-4">
                                                <input type="text" disabled class="form-control " id="detailorder_useendtime" name="detailorder_useendtime">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">下单时间</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_placeordertime" name="detailorder_placeordertime">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">实际付款金额</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_actualmoney" name="detailorder_actualmoney">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">运费</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_freight" name="detailinfo_freight">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">订单状态</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_orderstatus" name="detailinfo_orderstatus">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">支付状态</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_paystatus" name="detailinfo_paystatus">
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">配送状态</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_shippingstatus" name="detailorder_shippingstatus">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">支付方式</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_payway" name="detailorder_payway">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">配送方式</label>

                                            <div class="col-sm-10">
                                                <textarea type="text" disabled class="form-control " id="detailorder_shippingway" name="detailorder_shippingway"></textarea>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">收货人</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_consignee" name="detailorder_consignee">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">收货人地址</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_consigneeaddress" name="detailorder_consigneeaddress">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">收货人邮编</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_consigneezipcode" name="detailorder_consigneezipcode">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">收货人手机号</label>

                                            <div class="col-sm-10">
                                                <input type="text" disabled class="form-control " id="detailorder_consigneemobile" name="detailorder_consigneemobile">
                                            </div>
                                        </div>






                                        <div class="hr-line-dashed"></div>
                                        <div class="form-group">
                                            <div class="col-sm-4 col-sm-offset-2">
                                                @*<button class="btn btn-primary" type="submit">保存内容</button>*@
                                                <button class="btn btn-white backprepage" type="button">返回</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                


                @*详细任务信息*@





                @*基础查询信息*@
                <div class="mail-box-header basicorderinfo">
                    <div class="form-group">

                        <form role="form" class="form-inline">
                            <div class="form-group" style="margin-right:10px">
                                <input type="text" style="width:150px" placeholder="请输入订单编号" class="form-control" id="order_num" name="order_num">
                            </div>
                            <div class="form-group" style="margin-right:10px">
                                <input type="text" style="width:150px" placeholder="请输入下单人手机号" class="form-control" id="order_phone" name="order_phone">
                            </div>

                            <div class="form-group" style="margin-right:0px">
                                <label for="regtime_start" class="">下单时间</label>
                                <input type="date" id="order_regtime_start" name="order_regtime_start" class="form-control">
                                <label for="regtime_end" class="">至</label>
                                <input type="date" id="order_regtime_end" name="order_regtime_end" class="form-control">
                            </div>

                            <hr />

                        </form>


                    </div>


                    <div class="mail-tools tooltip-demo m-t-md">
                        <div class="btn-group pull-right">
                            <button class="btn btn-primary search-instrument-data" type="button" title="查看满足条件的订单单号">查询</button>

                        </div>
                        <button class="btn btn-white btn-sm search-instrumentorderdetailinfo" data-toggle="tooltip" data-placement="left" title="查看当前选中订单信息">
                            <i class="fa fa-envelope"></i> 查看
                        </button>
                        @* <button class="btn btn-white btn-sm search-pcblogisticsinfo" data-toggle="tooltip" data-placement="left" title="查看物流信息">
                    <i class="fa fa-refresh"></i> 物流
                </button>
                <button class="btn btn-white btn-sm send-goods-btn" data-toggle="tooltip"  title="添加至发货列表">
                    <i class="fa fa-eye"></i> 发货
                </button>*@
                        <div class="modal inmodal" id="sendModel" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated bounceInRight">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">
                                            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                                        </button>
                                        @*<i class="fa fa-laptop modal-icon"></i>*@
                                        <h4 class="modal-title">填写发货信息</h4>
                                        @*<small class="font-bold">这里可以显示副标题。*@
                                    </div>
                                    <div class="modal-body">


                                        <div class="form-group">
                                            <label>快递公司</label>
                                            <select class="form-control" name="shipping_status" id="shipping_status">
                                                <option value="00">请选择快递公司</option>
                                                <option value="0">圆通快递</option>
                                                <option value="1">韵达快递</option>
                                                <option value="3">中通快递</option>

                                                <option value="4">顺丰快递</option>
                                                <option value="5">天天快递</option>

                                                <option value="6">邮政EMS</option>
                                                <option value="7">申通快递</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>快递单号</label>
                                            <input type="text" id="tracknum" placeholder="请输入快递单号" class="form-control">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                        <button type="button" class="btn btn-primary save-sendgoods-modal">保存</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<button class="btn btn-white btn-sm cancel-goods" data-toggle="tooltip" data-placement="top" title="标为废弃订单">
                    <i class="fa fa-trash-o"></i>退货
                </button>*@
                        <button class="btn btn-white btn-sm del-thisorderofpcb" data-toggle="tooltip" data-placement="top" title="标为垃圾订单">
                            <i class="fa fa-trash-o"></i>删除
                        </button>

                    </div>
                </div>
                @*基础查询信息*@

                @*基础表格信息*@
                <div class="mail-box basicorderinfo">
                    <div class="jqGrid_wrapper">
                        <div class="ui-jqgrid" style="height:350px;overflow-y:scroll">

                            <table id="table_list" class="table table-striped table-condensed table-bordered"></table>

                            <div class="ui-jqgrid-resize-mark" id="rs_mtable_list_2">&nbsp;</div>
                            <div id="pager_list_2" class="ui-jqgrid-pager" dir="ltr">
                                <div id="pg_pager_list_2" class="ui-pager-control" role="group">
                                    <table class="ui-pg-table ui-common-table ui-pager-table">
                                        <tbody>
                                            <tr>


                                                <td id="pager_list_2_left" align="center" style=" width: 351px;">
                                                    <table class="ui-pg-table ui-common-table ui-paging-pager">
                                                        <tbody>
                                                            <tr>
                                                                <td id="first_pager_list_2" class="ui-pg-button" title="First Page"><span class="glyphicon glyphicon-step-backward"></span></td>
                                                                <td id="prev_pager_list_2" class="ui-pg-button" title="Previous Page"><span class="glyphicon glyphicon-backward"></span></td>
                                                                <td class="ui-pg-button ui-disabled" style="cursor: default;"><span class="ui-separator"></span></td>
                                                                <td id="input_pager_list_2" dir="ltr"> <input id="pagenowshow" class="ui-pg-input form-control" type="text" size="2" maxlength="7" value="0" role="textbox">  <span id="sp_1_pager_list_2">共0页</span> </td>
                                                                <td class="ui-pg-button ui-disabled"><span class="ui-separator"></span></td>
                                                                <td id="next_pager_list_2" class="ui-pg-button" title="Next Page"><span class="glyphicon glyphicon-forward"></span></td>
                                                                <td id="last_pager_list_2" class="ui-pg-button" title="Last Page"><span class="glyphicon glyphicon-step-forward"></span></td>
                                                                <td dir="ltr">
                                                                    <select class="ui-pg-selbox form-control" role="listbox" title="Records per Page">
                                                                        <option role="option" value="10" selected="selected">10</option>
                                                                        <option role="option" value="20">20</option>
                                                                        <option role="option" value="30">30</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                                <td id="pager_list_2_center" align="center"><div dir="ltr" style="text-align:center" class="ui-paging-info totalnum">共0条</div></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                @*基础表格信息*@
            </div>
        </div>
    </div>
    <script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    @*<script src="~/Scripts/plugins/peity/jquery.peity.min.js"></script>*@
    <script src="~/Scripts/content.min.js?v=1.0.0"></script>
    <script src="~/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="~/Scripts/plugins/toast/toast.js"></script>
    @*<script src="~/Scripts/demo/peity-demo.min.js"></script>*@



    <script type="text/javascript">var rootUrl = "@Url.Content("~")";//获取根路径，防止iis部署位置不同</script>
    <script src="@Url.Content("~/Scripts_App/Utilities/Utilities.js")"></script>

    <script src="@Url.Content("~/Scripts_App/OrderManage/RentInstrumentShare.js")"></script>

</body>

</html>
